:root {
    --background: #f0f2f5;
    --secondary-background: #fff;
    --primary: #0571ed;
    --primary-lite: rgba(5, 113, 237, 0.349);
    --green: #34a61d;
}

.dark {
    --primary: #328cf1;
    --green: #40c225;
    --background: #18191a;
    --secondary-background: #212121;
    --third-background: #3a3b3c;
    color: rgb(223, 223, 223);
}
